body{
	margin: 0;
	background: 0;
	background-color: #4b4c6c;
}
.box{
	width: 20%;
	padding: 40px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	margin: auto;
	margin-top: 5%;
	font-family: 'Century Gothic', sans-serif;
}
.box h1{
	font-size: 180%;
	letter-spacing: 3px;
}
.box h5{
	font-size: 120%;
}
.box-img{
	max-width: 50%;
	border-radius: 50%;
}
