/* Reset some default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 32px;
    color: #333;
}

header p {
    font-size: 18px;
    color: #777;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
}

footer {
    text-align: center;
    color: #777;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.profile-picture {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Add this code to style the dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dropdown:hover .dropbtn {
    background-color: #f5f5f5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.dropdown-content li a:hover {
    background-color: #f5f5f5;
}

.dropdown:hover .dropdown-content {
    display: block;
}
